<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.9.1" xml:lang="en-US">
  <compounddef id="structamrex_1_1BinMapper" kind="struct" language="C++" prot="public">
    <compoundname>amrex::BinMapper</compoundname>
    <includes refid="AMReX__ParticleUtil_8H" local="no">AMReX_ParticleUtil.H</includes>
      <sectiondef kind="private-attrib">
      <memberdef kind="variable" id="structamrex_1_1BinMapper_1a64387b045d204383bf43d1daf728d4a2" prot="private" static="no" mutable="no">
        <type>const <ref refid="namespaceamrex_1ad2e8127753e9be0ebf531435c6511937" kindref="member">int</ref> *</type>
        <definition>const int* amrex::BinMapper::m_off_bins_p</definition>
        <argsstring></argsstring>
        <name>m_off_bins_p</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" line="337" column="15" bodyfile="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" bodystart="337" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="structamrex_1_1BinMapper_1af1f0a8c52e0ba9142abfcdba68c4562e" prot="private" static="no" mutable="no">
        <type>const <ref refid="structamrex_1_1GpuArray" kindref="compound">GpuArray</ref>&lt; Real, AMREX_SPACEDIM &gt; *</type>
        <definition>const GpuArray&lt;Real,AMREX_SPACEDIM&gt;* amrex::BinMapper::m_dxi_p</definition>
        <argsstring></argsstring>
        <name>m_dxi_p</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" line="338" column="20" bodyfile="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" bodystart="338" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="structamrex_1_1BinMapper_1aa13006c74c21b3e90f81412d731f3b35" prot="private" static="no" mutable="no">
        <type>const <ref refid="structamrex_1_1GpuArray" kindref="compound">GpuArray</ref>&lt; Real, AMREX_SPACEDIM &gt; *</type>
        <definition>const GpuArray&lt;Real,AMREX_SPACEDIM&gt;* amrex::BinMapper::m_plo_p</definition>
        <argsstring></argsstring>
        <name>m_plo_p</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" line="339" column="20" bodyfile="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" bodystart="339" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="structamrex_1_1BinMapper_1a0c3ffb962a03c3307030e52e384688ef" prot="private" static="no" mutable="no">
        <type>const <ref refid="structamrex_1_1Dim3" kindref="compound">Dim3</ref> *</type>
        <definition>const Dim3* amrex::BinMapper::m_lo_p</definition>
        <argsstring></argsstring>
        <name>m_lo_p</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" line="340" column="16" bodyfile="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" bodystart="340" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="structamrex_1_1BinMapper_1a09e1a7b318d980843013d446fe2c5d4f" prot="private" static="no" mutable="no">
        <type>const <ref refid="structamrex_1_1Dim3" kindref="compound">Dim3</ref> *</type>
        <definition>const Dim3* amrex::BinMapper::m_hi_p</definition>
        <argsstring></argsstring>
        <name>m_hi_p</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" line="341" column="16" bodyfile="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" bodystart="341" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="structamrex_1_1BinMapper_1a32a3a6e1b23801796736f10c13fe0600" prot="private" static="no" mutable="no">
        <type><ref refid="namespaceamrex_1ad2e8127753e9be0ebf531435c6511937" kindref="member">int</ref> *</type>
        <definition>int* amrex::BinMapper::m_bin_type_array</definition>
        <argsstring></argsstring>
        <name>m_bin_type_array</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" line="342" column="9" bodyfile="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" bodystart="342" bodyend="-1"/>
      </memberdef>
      </sectiondef>
      <sectiondef kind="public-func">
      <memberdef kind="function" id="structamrex_1_1BinMapper_1a2fc716ebcdf02dabc5c00fbc19419155" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>amrex::BinMapper::BinMapper</definition>
        <argsstring>(const int *off_bins_p, const GpuArray&lt; Real, AMREX_SPACEDIM &gt; *dxi_p, const GpuArray&lt; Real, AMREX_SPACEDIM &gt; *plo_p, const Dim3 *lo_p, const Dim3 *hi_p, int *bin_type_array=nullptr)</argsstring>
        <name>BinMapper</name>
        <param>
          <type>const <ref refid="namespaceamrex_1ad2e8127753e9be0ebf531435c6511937" kindref="member">int</ref> *</type>
          <declname>off_bins_p</declname>
        </param>
        <param>
          <type>const <ref refid="structamrex_1_1GpuArray" kindref="compound">GpuArray</ref>&lt; Real, AMREX_SPACEDIM &gt; *</type>
          <declname>dxi_p</declname>
        </param>
        <param>
          <type>const <ref refid="structamrex_1_1GpuArray" kindref="compound">GpuArray</ref>&lt; Real, AMREX_SPACEDIM &gt; *</type>
          <declname>plo_p</declname>
        </param>
        <param>
          <type>const <ref refid="structamrex_1_1Dim3" kindref="compound">Dim3</ref> *</type>
          <declname>lo_p</declname>
        </param>
        <param>
          <type>const <ref refid="structamrex_1_1Dim3" kindref="compound">Dim3</ref> *</type>
          <declname>hi_p</declname>
        </param>
        <param>
          <type><ref refid="namespaceamrex_1ad2e8127753e9be0ebf531435c6511937" kindref="member">int</ref> *</type>
          <declname>bin_type_array</declname>
          <defval>nullptr</defval>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" line="302" column="5" bodyfile="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" bodystart="302" bodyend="309"/>
      </memberdef>
      <memberdef kind="function" id="structamrex_1_1BinMapper_1a6112736395d0049cf00285ae69353608" prot="public" static="no" const="yes" explicit="no" inline="yes" virt="non-virtual">
        <templateparamlist>
          <param>
            <type>typename T</type>
          </param>
        </templateparamlist>
        <type><ref refid="AMReX__GpuQualifiers_8H_1aac52ee54727d35b2d0033b119a991618" kindref="member">AMREX_GPU_HOST_DEVICE</ref> unsigned <ref refid="namespaceamrex_1ad2e8127753e9be0ebf531435c6511937" kindref="member">int</ref></type>
        <definition>AMREX_GPU_HOST_DEVICE unsigned int amrex::BinMapper::operator()</definition>
        <argsstring>(const T &amp;ptd, int i) const</argsstring>
        <name>operator()</name>
        <param>
          <type>const T &amp;</type>
          <declname>ptd</declname>
        </param>
        <param>
          <type><ref refid="namespaceamrex_1ad2e8127753e9be0ebf531435c6511937" kindref="member">int</ref></type>
          <declname>i</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" line="313" column="18" bodyfile="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" bodystart="313" bodyend="334"/>
      </memberdef>
      </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <collaborationgraph>
      <node id="2">
        <label>amrex::Dim3</label>
        <link refid="structamrex_1_1Dim3"/>
      </node>
      <node id="3">
        <label>amrex::GpuArray&lt; Real, AMREX_SPACEDIM &gt;</label>
        <link refid="structamrex_1_1GpuArray"/>
      </node>
      <node id="1">
        <label>amrex::BinMapper</label>
        <link refid="structamrex_1_1BinMapper"/>
        <childnode refid="2" relation="usage">
          <edgelabel>m_hi_p</edgelabel>
          <edgelabel>m_lo_p</edgelabel>
        </childnode>
        <childnode refid="3" relation="usage">
          <edgelabel>m_dxi_p</edgelabel>
          <edgelabel>m_plo_p</edgelabel>
        </childnode>
      </node>
    </collaborationgraph>
    <location file="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" line="300" column="1" bodyfile="/home/runner/work/amrex/amrex/Src/Particle/AMReX_ParticleUtil.H" bodystart="301" bodyend="343"/>
    <listofallmembers>
      <member refid="structamrex_1_1BinMapper_1a2fc716ebcdf02dabc5c00fbc19419155" prot="public" virt="non-virtual"><scope>amrex::BinMapper</scope><name>BinMapper</name></member>
      <member refid="structamrex_1_1BinMapper_1a32a3a6e1b23801796736f10c13fe0600" prot="private" virt="non-virtual"><scope>amrex::BinMapper</scope><name>m_bin_type_array</name></member>
      <member refid="structamrex_1_1BinMapper_1af1f0a8c52e0ba9142abfcdba68c4562e" prot="private" virt="non-virtual"><scope>amrex::BinMapper</scope><name>m_dxi_p</name></member>
      <member refid="structamrex_1_1BinMapper_1a09e1a7b318d980843013d446fe2c5d4f" prot="private" virt="non-virtual"><scope>amrex::BinMapper</scope><name>m_hi_p</name></member>
      <member refid="structamrex_1_1BinMapper_1a0c3ffb962a03c3307030e52e384688ef" prot="private" virt="non-virtual"><scope>amrex::BinMapper</scope><name>m_lo_p</name></member>
      <member refid="structamrex_1_1BinMapper_1a64387b045d204383bf43d1daf728d4a2" prot="private" virt="non-virtual"><scope>amrex::BinMapper</scope><name>m_off_bins_p</name></member>
      <member refid="structamrex_1_1BinMapper_1aa13006c74c21b3e90f81412d731f3b35" prot="private" virt="non-virtual"><scope>amrex::BinMapper</scope><name>m_plo_p</name></member>
      <member refid="structamrex_1_1BinMapper_1a6112736395d0049cf00285ae69353608" prot="public" virt="non-virtual"><scope>amrex::BinMapper</scope><name>operator()</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
